<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Task</ion-title>
    <ion-button slot="end" fill="clear">
      <span class="saveBtn" (click)="saveEdits()">S<span class="ion-text-lowercase">ave</span></span>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-form [IsEditMode]="true" [InputText]="title" [DateStart]="startTime" [DateEnd]="endTimeDate" [Points]="points"
    [Id]="id"></app-form>
</ion-content>