<div *ngIf="isDataAvalabile" padding>
  <h1 padding>Points</h1>

  <ion-grid class="ion-margin-top">
    <ion-row>
      <ion-col>
        <span class="display-inline">
          <p class="chip-description">FROM </p>
          <ion-chip>
            <ion-datetime (ionChange)="updateChartBetween()" displayFormat="MM/DD/YYYY" class="date-time"
              name="startTime" [(ngModel)]="startTime">
            </ion-datetime>
          </ion-chip>
        </span>
      </ion-col>
      <ion-col>
        <span class="display-inline">
          <p class="chip-description">TO </p>
          <ion-chip>
            <ion-datetime (ionChange)="updateChartBetween()" displayFormat="MM/DD/YYYY" class="date-time" name="endTime"
              [(ngModel)]="endTime">
            </ion-datetime>
          </ion-chip>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>



  <div style="display: block;" padding>
    <canvas baseChart #baseChart='base-chart' [data]="chartData" [datasets]="barChartData" [options]="barChartOptions"
      [legend]="barChartLegend" [chartType]="barChartType" [labels]="barChartLabels">
    </canvas>
  </div>
</div>