.weekview-allday-table {
    height: 100px !important;

    .weekview-allday-content-wrapper {
        height: 100px !important;

        .calendar-cell {
            height: 100px !important;
        }
    }

    .weekview-allday-label {
        height: 100px !important;
    }
}