<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end" class="addTaskBtn" (click)="redirectToAddTask()">
      <ion-icon name="add-circle" class="ion-float-right addIcon"></ion-icon>
    </ion-buttons>

    <ion-title>
      Home
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="allTasks">
        <ion-icon name="list"></ion-icon>
        <ion-label>All</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="charts">
        <ion-icon name="heart"></ion-icon>
        <ion-label>Charts</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="calendar">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Calendar</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>