<form #formData="ngForm" (ngSubmit)="submitForm()">
  <div padding class="ion-margin-top">

    <ion-item>
      <ion-label position="stacked">Text date</ion-label>
      <ion-input name="text" [(ngModel)]="text" placeholder="Input text" type="text" required></ion-input>
    </ion-item>

    <ion-grid class="ion-margin-top" padding>
      <ion-row>
        <ion-col>
          <span class="display-inline">
            <p class="chip-description">FROM </p>
            <ion-chip>
              <ion-datetime displayFormat="DD/MM/YYYY" class="date-time" name="startTime" [(ngModel)]="startTime"
                required>
              </ion-datetime>
            </ion-chip>
          </span>
        </ion-col>
        <ion-col>
          <span class="display-inline">
            <p class="chip-description">TO </p>
            <ion-chip>
              <ion-datetime displayFormat="DD/MM/YYYY" class="date-time" name="endTime" [(ngModel)]="endTimeDate">
              </ion-datetime>
            </ion-chip>
          </span>

        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-label position="stacked">Points</ion-label>
      <ion-input name="points" [(ngModel)]="points" placeholder="Input text" type="number" required></ion-input>
    </ion-item>

  </div>
</form>